@import "../../../../styles.scss";
.contacts-filter {
  width: 65.16vw;
  margin: 0 2.66vw 0px 4.84vw;
  border: 0.704545px solid #6e767d;
  box-shadow: 0px 2.81818px 14.7955px rgba(0, 0, 0, 0.07);
  border-radius: 72px;
  &-form {
    display: flex;
    justify-content: space-between;
    &__container {
      display: flex;
      &:first-of-type {
        width: 21.88vw;
        padding: 6px 0 6px 12px;
        font-style: italic;
        border-right: 0.704545px solid #6e767d;
      }
      &:nth-child(2) {
        width: 43.28vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__select {
      appearance: none;
      width: 20.5vw;
      background-image: url("../../../../assets/images/orange-arrow-down.svg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right;
      font-size: 12px;
      line-height: 14px;
      height: 15px;
    }
    &__input {
      width: 100%;
      font-size: 12px;
      line-height: 14px;
      height: 15px;
      padding: 5px 0 6px 8px;
      letter-spacing: -0.2px;
    }
    &__btn {
      @include flex-c-c;
      margin: 4px 9px 0px 0px;
      cursor: pointer;
    }
  }
}
.contacts-toggle {
  display: flex;
  margin: 0 0px 0px 4.84vw;
  &-container {
    display: flex;
    align-items: center;
    width: 292px;
    &__text {
      font-size: 16px;
      line-height: 18.75px;
      letter-spacing: 0.15px;
      margin: 12px 0px 0px 17px;
      color: $grey;
    }
  }
  &-container + .contacts-toggle-container {
    margin: 0px 0px 0px 55px;
  }
  &-container__toggle {
    &_input {
      position: relative;
      z-index: -1;
      opacity: 0;
      margin: 0;
      top: 6px;
      left: -1px;
      width: 22px;
      height: 16px;
      cursor: pointer;
    }
  }
}
.contacts-toggle-container__toggle_input
  + .contacts-toggle-container__toggle_control {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}
.contacts-toggle-container__toggle_input
  + .contacts-toggle-container__toggle_control::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 22px;
  height: 10px;
  border-radius: 5px;
  background-color: $grey;
  right: -8px;
  top: -6px;
  cursor: pointer;
}
.contacts-toggle-container__toggle_input
  + .contacts-toggle-container__toggle_control::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  top: -10px;
  left: -19px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}
.contacts-toggle-container__toggle_input:checked
  + .contacts-toggle-container__toggle_control::after {
  left: -5px;
}
@include _1440 {
  .contacts-filter-form__container {
    &:first-of-type {
      padding: 6px 6px 6px 12px;
    }
  }
}
@include _1024 {
  .contacts-toggle {
    display: block;
  }
  .contacts-toggle-container + .contacts-toggle-container {
    margin: 0px 0px 0px 0px;
  }
  .contacts-filter {
    margin: 0 20px;
  }
  .contacts-toggle {
    margin: 0 20px;
  }
}
@include _768 {
  .contacts-filter {
    border: none;
    box-shadow: none;
    &-form {
      display: block;
      &__container {
        &:first-of-type {
          min-width: 150px;
          padding: 10px 10px 10px 10px;
          border: none;
          font-style: normal;
          border: 1px solid $grey;
          border-radius: 5px;
          color: $grey1;
        }
        &:nth-of-type(2) {
          min-width: 320px;
          margin: 10px 0px 0px 0px;
          padding: 10px 10px 10px 10px;
          border: none;
          font-style: normal;
          border: 1px solid $grey;
          border-radius: 5px;
          color: $grey1;
        }
      }
      &__select {
        height: 22px;
        min-width: 130px;
      }
      &__input {
        min-width: 268px;
        height: 22px;
        padding: 0px 0px 0px 0px;
      }
    }
  }
}
@include _400 {
  .contacts-filter-form {
    &__container {
      &:nth-of-type(2) {
        min-width: 240px;
        padding: 10px 0px 10px 10px;
      }
    }
    &__select {
      min-width: 130px;
      font-size: 9px;
    }
    &__input {
      min-width: 200px;
      font-size: 9px;
    }
  }
  .contacts-toggle-container {
    width: auto;
  }
  .contacts-toggle-container__text {
    font-size: 12px;
  }
}
