/* You can add global variables to this file*/

/*colors*/
$colorWhite: #ffffff;
$colorLightgreyBg: #f7f7f7;
$colorPurple: #ed1c24;
$colorDarkGrey: #6e767d;
$colorBlackHeader: #282b2e;
$colorGrey: #d7d7d7;
$colorLightgrey: #a6aaad;
$colorBlackCard: rgba(0, 0, 0, 0.87);
$colorDark: #212121;
$colorBlackForm: rgb(51, 51, 51, 0.8);
$grey: rgba(0, 0, 0, 0.3);
$grey1: rgba(51, 51, 51, 1);

/*font*/
$font-stack: Roboto, sans-serif;

/*transitions*/
$transition: 0.3s;
